:root{
  --primary-color: #742FDB;
  --primary-color-d: #1b0043;
  --secondary-color: #A55EEC;
  --secondary-color-d: #6219ac;
  --tet-color:#C4B5FD;
  --box-color:#BC8BF0;
  --border-color: #B589ED;
}
