.hero {
  flex: 0.9;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  width: 100vw;
  height: 120vh;
  position: relative;
}

.hero__title {
  font-size: 8rem;
  color: white;
  margin-top: 14rem;
  margin-left: 8rem;
  text-transform: capitalize;
  font-weight: 700;
}
.hero__title > span {
  display: block;
}

.hero__paragraph,
p {
  margin-left: 8rem;
  font-size: 2rem;
  color: var(--tet-color);
  text-transform: capitalize;
  margin-top: 2rem;
}

.box {
  border-radius: 58px;
  background: linear-gradient(145deg, #7c32ea, #682ac5);
  box-shadow: 10px 10px 20px #5f27b4, -10px -10px 20px #8937ff;
  width: 30%;
  height: 100px;
  position: absolute;
  right: 100px;
  top: 400px;
}
.box-2 {
  width: 100px;
  height: 400px;
  right: 400px;
  top: 100px;
}
.box-3 {
  width: 70px;
  height: 70px;
  right: 410px;
  top: 410px;
}
.glass {
    background: rgba( 253, 144, 144, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 46% 54% 76% 24% / 41% 30% 70% 59% ;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 70px;
  height: 70px;
}

.particle{
  position: absolute;
}